modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 33497
externalPort = 6000

[[ports]]
localPort = 33571
externalPort = 3003

[[ports]]
localPort = 35909
externalPort = 8080

[[ports]]
localPort = 35933
externalPort = 4200

[[ports]]
localPort = 36961
externalPort = 3000

[[ports]]
localPort = 37295
externalPort = 8008

[[ports]]
localPort = 37719
externalPort = 6800

[[ports]]
localPort = 40393
externalPort = 8000

[[ports]]
localPort = 40945
externalPort = 3001

[[ports]]
localPort = 41191
externalPort = 3002

[[ports]]
localPort = 42023
externalPort = 5000

[[ports]]
localPort = 45273
externalPort = 5173
